apiVersion: apps/v1
kind: Deployment
metadata:
  name: telegram-bot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: telegram-bot
  template:
    metadata:
      labels:
        app: telegram-bot
    spec:
      containers:
      - name: bot
        image: aditygau/telegram-bot:latest
        ports:
        - containerPort: 8000
        env:
        - name: BOT_TOKEN
          valueFrom:
            secretKeyRef:
              name: telegram-secrets
              key: BOT_TOKEN
        - name: ADMIN_CHAT_ID
          valueFrom:
            secretKeyRef:
              name: telegram-admin
              key: ADMIN_CHAT_ID
        volumeMounts:
        - name: data
          mountPath: /data
      volumes:
      - name: data
        emptyDir: {}
